body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0b0f18;
  color: #fff;
}

.auth-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.k-logo-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.k-logo {
  width: 100px;
  height: 100px;
  background: #111827;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
  color: #4da6ff;
  box-shadow: 0 10px 35px rgba(77, 166, 255, 0.55);
  animation: fadeIn 1.2s ease;
}

.brand {
  margin-top: 10px;
  letter-spacing: 4px;
  font-size: 28px;
  font-weight: 700;
  color: #e2e8f0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.85); }
  to { opacity: 1; transform: scale(1); }
}

.auth-card {
  background: #111827;
  padding: 30px;
  border-radius: 16px;
  width: 330px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
  animation: fadeIn 0.8s ease;
}

.auth-card input {
  width: 100%;
  margin-top: 12px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #1f2937;
  color: #fff;
}

.auth-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.toggle {
  margin-top: 12px;
  text-align: center;
  cursor: pointer;
  opacity: 0.8;
}

.chat-body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 15px;
  background: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-icons svg {
  font-size: 22px;
  margin-left: 15px;
  cursor: pointer;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.msg {
  max-width: 80%;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 12px;
  font-size: 15px;
}

.my-msg {
  background: #3b82f6;
  color: white;
  margin-left: auto;
}

.their-msg {
  background: #1f2937;
  color: #e5e7eb;
  margin-right: auto;
}

.chat-input-area {
  display: flex;
  padding: 15px;
  background: #111827;
}

.chat-input-area input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #1f2937;
  color: #fff;
}

.chat-input-area button {
  width: 60px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
